.bg-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}
.bg-glass-display {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}

@import "../../node_modules/bootstrap/scss/bootstrap";
